<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Dashboard para gestionar música">
  <meta name="author" content="Benjamín Steck">
  <title>Un Mar de Música</title>
  <link href="/css/dashboard.css" rel="stylesheet"> <!-- Enlace al archivo CSS personalizado -->
</head>
<body>
    <header>
      <div class="contenedor">
          <nav class="navbar">
            <a class="navbar-brand" href="#">Un Mar de Música</a>
            <div class="button">
                <a type="button" href="logout">Cerrar sesión</a>
            </div>
        </nav>
      </div>
    </header>

    <section id="hero">
        <h2>Bienvenido: <span id="username"></span></h2>

        <div class="container">
          <h3><span id="userdescription"></span></h3>

          <div class="sidebar">
            <ul class="list-group">
                <li class="list-group-item"><a href="/albums">Gestionar Álbumes</a></li>
                <li class="list-group-item"><a href="/singles">Gestionar Sencillos</a></li>
                <li class="list-group-item"><a href="/tracks">Gestionar Pistas</a></li>
                <!-- <li class="list-group-item"><a href="/instrumentals">Gestionar Instrumentales</a></li> -->
            </ul>
          </div>
      </div>
    </section>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
          // Obtener el nombre y descripción del usuario
          var nombreUsuario = "<%= correo ? correo.user : '' %>";
          var descripcionUsuario = "<%= correo ? correo.description : '' %>";
          
          // Asignar el texto a los elementos correspondientes
          document.getElementById('username').textContent = nombreUsuario;
          document.getElementById('userdescription').textContent = descripcionUsuario;
      });
    </script>
</body>
</html>