<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Mis Pistas</h2>
    <div class="row">
      <% tracks.forEach(function(track) { %>
        <div class="col-md-4">
          <div class="card">
            <h5 class="card-title"><%= track.title %></h5>
            <p class="card-text"><%= track.description %></p>
            <a href="/tracks/<%= track.id %>/edit" class="btn_update">Modificar</a>
            <a href="/tracks/<%= track.id %>/delete" class="btn_delete">Eliminar</a>
          </div>
        </div>
      <% }) %>
    </div>
</body>
</html>